form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #c1c1c1;
  border-style: solid;
}

input:focus:hover {
  color: #495057;
  background-color: #fff;
  border-color: #2196f3;
  outline: 0;
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #2196f3;
  outline: 0;
}

input:hover {
  border-color: #90caf9;
  outline: 0;
}

button {
  background-color: #8932a7;
  color: #fff;
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
  align-self: flex-end;
  margin: 0;
}

.single-comment {
  display: flex;
  margin-left: 10px;
  align-items: center;
  padding: 10px 0px;
}

.single-comment p {
  margin: 0px;
  padding: 0px;
  color: #000000;
}

.single-comment h4 {
  margin: 5px 0px;
  padding: 0px;
}

.single-comment h5 {
  margin: 0px 5px;
  padding: 0px;
  font-weight: lighter;
  color: #606060;
}

.comment-head {
  display: flex;
  align-items: center;
}

.login-subs {
  padding: 5px 10px;
  border-radius: 5px;
}

.login-subs div {
  padding: 0px 0px;
  border-radius: 5px;
  color: #ffffff;
}

.login-subs p {
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-top: 2px;
}
