* {
  box-sizing: border-box;
}

.video-upload {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1em;
}

.drop {
  height: 240px;
}

.upd {
  height: 240px;
  border: 1px solid lightgray;
}

.video-upload-form {
  display: flex;
  flex-direction: column;
  min-width: 470px;
  width: 80%;
}

.video-upload-form label {
  margin-bottom: 10px;
  margin-top: 20px;
}

.video-upload-form input {
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #c1c1c1;
  border-style: solid;
}

.video-upload-form textarea {
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #c1c1c1;
  border-style: solid;
}

.video-upload-form input:focus:hover {
  color: #495057;
  background-color: #fff;
  border-color: #2196f3;
  outline: 0;
}

.video-upload-form textarea:focus:hover {
  color: #495057;
  background-color: #fff;
  border-color: #2196f3;
  outline: 0;
}

.video-upload-form input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #2196f3;
  outline: 0;
}

.video-upload-form input:hover {
  border-color: #90caf9;
  outline: 0;
}

.video-upload-form textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #2196f3;
  outline: 0;
}

.video-upload-form textarea:hover {
  border-color: #90caf9;
  outline: 0;
}

.video-upload-form button {
  background-color: #8932a7;
  color: #fff;
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

@media all and (max-width: 480px) {
  .video-upload-form {
    width: 80%;
    min-width: 100px;
  }
}

.video-upload-form select {
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #c1c1c1;
  border-style: solid;
}

.video-upload-form select:focus:hover {
  color: #495057;
  background-color: #fff;
  border-color: #2196f3;
  outline: 0;
}

.video-upload-form select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #2196f3;
  outline: 0;
}

.video-upload-form select:hover {
  border-color: #90caf9;
  outline: 0;
}

button {
  margin-top: 20px;
}

.drop-box {
  height: 240px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.progressBar-box {
  position: relative;
  height: 100%;
}

.progressBar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 100%;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.video-player__video {
  height: 238px;
}
